![](https://cocalc.com/blobs/FullLogo_200x160.png?uuid=e2a635d0-26b8-40d1-b1c7-d0fc4fb06bd7)

## **Data Analysis with Python**

## **Capstone Project \(Part 1 \- Data Cleaning & EDA\)**

### Step 1: Data Cleaning

In [44]:
current_directory = os.getcwd()
print("Current Working Directory:", current_directory)

Current Working Directory: /home/user/Capstone Project

In [45]:
import os
os.getcwd()

'/home/user/Capstone Project'

In [46]:
import pandas as pd
Superstore = pd.read_csv(r'Superstore.csv')
Superstore

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2014-115889,11/2/2014,11/6/2014,Standard Class,SH-20395,Shahid Hopkins,Consumer,United States,San Francisco,California,94122,WEST,TEC-PH-10001615,Technology,Phones,AT&T CL82213,$46.38,2,0.2,5.2182
1,US-2014-102715,4/11/2014,4/13/2014,Second Class,JK-15370,Jay Kimmel,Consumer,United States,Miami,Florida,33180,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,$10.37,2,0.2,3.6288
2,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,United States,Everett,Massachusetts,2149,EAST,FUR-FU-10002506,Furniture,Furnishings,"Tensor ""Hersey Kiss"" Styled Floor Lamp",$38.97,3,0.0,4.6764
3,CA-2014-102645,1/23/2014,1/28/2014,Standard Class,IM-15055,Ionia McGrath,Consumer,United States,Las Vegas,Nevada,89115,WEST,OFF-PA-10001804,Office Supplies,Paper,Xerox 195,$40.08,6,0.0,19.2384
4,CA-2016-139409,9/5/2016,9/7/2016,First Class,FW-14395,Fred Wasserman,Corporate,United States,New York City,New York,10011,EAST,TEC-PH-10003988,Technology,Phones,"LF Elite 3D Dazzle Designer Hard Case Cover, L...",$43.60,4,0.0,12.208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,CA-2017-104731,7/21/2017,7/27/2017,Standard Class,AM-10705,Anne McFarland,Consumer,United States,Salem,Virginia,24153,South,OFF-AR-10003829,Office Supplies,Art,Newell 35,$19.68,6,0.0,5.7072
9995,CA-2014-160738,5/5/2014,5/10/2014,Standard Class,KH-16330,Katharine Harms,Corporate,United States,Freeport,Illinois,61032,Central,OFF-ST-10003442,Office Supplies,Storage,Eldon Portable Mobile Manager,$45.25,2,0.2,3.9592
9996,CA-2016-148516,8/7/2016,8/11/2016,Standard Class,DW-13585,Dorothy Wardle,?Corporate?,United States,Edmonds,Washington,98026,WEST,TEC-AC-10003610,Technology,Accessories,Logitech Illuminated - Keyboard,$179.97,3,0.0,86.3856
9997,CA-2014-163867,6/3/2014,6/6/2014,First Class,RE-19450,Richard Eichhorn,?Consumer?,United States,Decatur,Illinois,62521,Central,OFF-LA-10001771,Office Supplies,Labels,Avery 513,$15.94,4,0.2,5.1792
9998,CA-2014-169852,10/21/2014,10/26/2014,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,San Diego,California,92024,WEST,OFF-BI-10001460,Office Supplies,Binders,Plastic Binding Combs,$36.36,3,0.2,12.2715

In [47]:
Superstore.head(2)

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2014-115889,11/2/2014,11/6/2014,Standard Class,SH-20395,Shahid Hopkins,Consumer,United States,San Francisco,California,94122,WEST,TEC-PH-10001615,Technology,Phones,AT&T CL82213,$46.38,2,0.2,5.2182
1,US-2014-102715,4/11/2014,4/13/2014,Second Class,JK-15370,Jay Kimmel,Consumer,United States,Miami,Florida,33180,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,$10.37,2,0.2,3.6288

In [48]:
print(Superstore.shape[0])
print(Superstore.shape[1])

9999
20

In [49]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9999 non-null   object
 1   Order Date     9999 non-null   object
 2   Ship Date      9999 non-null   object
 3   Ship Mode      9999 non-null   object
 4   Customer ID    9996 non-null   object
 5   Customer Name  9999 non-null   object
 6   Segment        9999 non-null   object
 7   Country        9999 non-null   object
 8   City           9999 non-null   object
 9   State          9999 non-null   object
 10  Postal Code    9999 non-null   int64
 11  Region         9999 non-null   object
 12  Product ID     9999 non-null   object
 13  Category       9999 non-null   object
 14  Sub-Category   9999 non-null   object
 15  Product Name   9999 non-null   object
 16  Sales          9993 non-null   object
 17  Quantity       9999 non-null   int64
 18  Discount       9992 non-null   float64
 19  Profit         9999 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.5+ MB

In [50]:
Superstore['Sales'] = Superstore['Sales'].str.replace('$','')
Superstore['Sales'] = Superstore['Sales'].str.replace(',', '')
Superstore['Segment'] = Superstore['Segment'].str.replace('?','')
Superstore['Profit'] = Superstore['Profit'].str.replace('$','')
Superstore['Profit'] = Superstore['Profit'].str.replace(r'[()]', '')
Superstore['Profit'] = Superstore['Profit'].str.replace(',', '')


Superstore

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2014-115889,11/2/2014,11/6/2014,Standard Class,SH-20395,Shahid Hopkins,Consumer,United States,San Francisco,California,94122,WEST,TEC-PH-10001615,Technology,Phones,AT&T CL82213,46.38,2,0.2,5.2182
1,US-2014-102715,4/11/2014,4/13/2014,Second Class,JK-15370,Jay Kimmel,Consumer,United States,Miami,Florida,33180,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,10.37,2,0.2,3.6288
2,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,United States,Everett,Massachusetts,2149,EAST,FUR-FU-10002506,Furniture,Furnishings,"Tensor ""Hersey Kiss"" Styled Floor Lamp",38.97,3,0.0,4.6764
3,CA-2014-102645,1/23/2014,1/28/2014,Standard Class,IM-15055,Ionia McGrath,Consumer,United States,Las Vegas,Nevada,89115,WEST,OFF-PA-10001804,Office Supplies,Paper,Xerox 195,40.08,6,0.0,19.2384
4,CA-2016-139409,9/5/2016,9/7/2016,First Class,FW-14395,Fred Wasserman,Corporate,United States,New York City,New York,10011,EAST,TEC-PH-10003988,Technology,Phones,"LF Elite 3D Dazzle Designer Hard Case Cover, L...",43.60,4,0.0,12.208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,CA-2017-104731,7/21/2017,7/27/2017,Standard Class,AM-10705,Anne McFarland,Consumer,United States,Salem,Virginia,24153,South,OFF-AR-10003829,Office Supplies,Art,Newell 35,19.68,6,0.0,5.7072
9995,CA-2014-160738,5/5/2014,5/10/2014,Standard Class,KH-16330,Katharine Harms,Corporate,United States,Freeport,Illinois,61032,Central,OFF-ST-10003442,Office Supplies,Storage,Eldon Portable Mobile Manager,45.25,2,0.2,3.9592
9996,CA-2016-148516,8/7/2016,8/11/2016,Standard Class,DW-13585,Dorothy Wardle,Corporate,United States,Edmonds,Washington,98026,WEST,TEC-AC-10003610,Technology,Accessories,Logitech Illuminated - Keyboard,179.97,3,0.0,86.3856
9997,CA-2014-163867,6/3/2014,6/6/2014,First Class,RE-19450,Richard Eichhorn,Consumer,United States,Decatur,Illinois,62521,Central,OFF-LA-10001771,Office Supplies,Labels,Avery 513,15.94,4,0.2,5.1792
9998,CA-2014-169852,10/21/2014,10/26/2014,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,San Diego,California,92024,WEST,OFF-BI-10001460,Office Supplies,Binders,Plastic Binding Combs,36.36,3,0.2,12.2715

In [51]:
Superstore['Profit'] = Superstore['Profit'].replace('[\(\)]', '', regex=True).astype(float)
Superstore['Sales'] = Superstore['Sales'].astype(float)

In [52]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9999 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9999 non-null   object
 1   Order Date     9999 non-null   object
 2   Ship Date      9999 non-null   object
 3   Ship Mode      9999 non-null   object
 4   Customer ID    9996 non-null   object
 5   Customer Name  9999 non-null   object
 6   Segment        9999 non-null   object
 7   Country        9999 non-null   object
 8   City           9999 non-null   object
 9   State          9999 non-null   object
 10  Postal Code    9999 non-null   int64
 11  Region         9999 non-null   object
 12  Product ID     9999 non-null   object
 13  Category       9999 non-null   object
 14  Sub-Category   9999 non-null   object
 15  Product Name   9999 non-null   object
 16  Sales          9993 non-null   float64
 17  Quantity       9999 non-null   int64
 18  Discount       9992 non-null   float64
 19  Profit         9999 non-null   float64
dtypes: float64(3), int64(2), object(15)
memory usage: 1.5+ MB

In [53]:
other_column = ['Segment', 'Region', 'Category', 'Sub-Category', 'Ship Mode']
for col in other_column:
    Superstore[col] = Superstore[col].apply(lambda x : x.strip('?#/').title())

In [54]:
for col in other_column:
    num_unique_vals = Superstore[col].nunique()
    print(f'===== {num_unique_vals} Unique Values in: {col} ======')
    print(Superstore[col].unique())
    print('')

===== 3 Unique Values in: Segment ======
['Consumer' 'Home Office' 'Corporate']

===== 4 Unique Values in: Region ======
['West' 'South' 'East' 'Central']

===== 3 Unique Values in: Category ======
['Technology' 'Office Supplies' 'Furniture']

===== 17 Unique Values in: Sub-Category ======
['Phones' 'Paper' 'Furnishings' 'Accessories' 'Art' 'Binders' 'Fasteners'
 'Storage' 'Envelopes' 'Tables' 'Labels' 'Chairs' 'Appliances' 'Bookcases'
 'Supplies' 'Machines' 'Copiers']

===== 4 Unique Values in: Ship Mode ======
['Standard Class' 'Second Class' 'First Class' 'Same Day']

In [55]:
Superstore.dropna()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2014-115889,11/2/2014,11/6/2014,Standard Class,SH-20395,Shahid Hopkins,Consumer,United States,San Francisco,California,94122,West,TEC-PH-10001615,Technology,Phones,AT&T CL82213,46.38,2,0.2,5.2182
1,US-2014-102715,4/11/2014,4/13/2014,Second Class,JK-15370,Jay Kimmel,Consumer,United States,Miami,Florida,33180,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,10.37,2,0.2,3.6288
2,CA-2015-130974,11/27/2015,11/29/2015,Second Class,MA-17560,Matt Abelman,Home Office,United States,Everett,Massachusetts,2149,East,FUR-FU-10002506,Furniture,Furnishings,"Tensor ""Hersey Kiss"" Styled Floor Lamp",38.97,3,0.0,4.6764
3,CA-2014-102645,1/23/2014,1/28/2014,Standard Class,IM-15055,Ionia McGrath,Consumer,United States,Las Vegas,Nevada,89115,West,OFF-PA-10001804,Office Supplies,Paper,Xerox 195,40.08,6,0.0,19.2384
4,CA-2016-139409,9/5/2016,9/7/2016,First Class,FW-14395,Fred Wasserman,Corporate,United States,New York City,New York,10011,East,TEC-PH-10003988,Technology,Phones,"LF Elite 3D Dazzle Designer Hard Case Cover, L...",43.60,4,0.0,12.2080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9994,CA-2017-104731,7/21/2017,7/27/2017,Standard Class,AM-10705,Anne McFarland,Consumer,United States,Salem,Virginia,24153,South,OFF-AR-10003829,Office Supplies,Art,Newell 35,19.68,6,0.0,5.7072
9995,CA-2014-160738,5/5/2014,5/10/2014,Standard Class,KH-16330,Katharine Harms,Corporate,United States,Freeport,Illinois,61032,Central,OFF-ST-10003442,Office Supplies,Storage,Eldon Portable Mobile Manager,45.25,2,0.2,3.9592
9996,CA-2016-148516,8/7/2016,8/11/2016,Standard Class,DW-13585,Dorothy Wardle,Corporate,United States,Edmonds,Washington,98026,West,TEC-AC-10003610,Technology,Accessories,Logitech Illuminated - Keyboard,179.97,3,0.0,86.3856
9997,CA-2014-163867,6/3/2014,6/6/2014,First Class,RE-19450,Richard Eichhorn,Consumer,United States,Decatur,Illinois,62521,Central,OFF-LA-10001771,Office Supplies,Labels,Avery 513,15.94,4,0.2,5.1792
9998,CA-2014-169852,10/21/2014,10/26/2014,Standard Class,SF-20965,Sylvia Foulston,Corporate,United States,San Diego,California,92024,West,OFF-BI-10001460,Office Supplies,Binders,Plastic Binding Combs,36.36,3,0.2,12.2715

In [56]:
Superstore['Customer ID']= Superstore['Customer ID'].fillna('Unknown')

In [57]:
#missing = Superstore[Superstore['Sales'].isnull()]
#missing
Superstore['Sales'] = Superstore['Sales'].fillna(0)
Superstore['Discount'] = Superstore['Discount'].fillna(0)

In [58]:
pd.isnull(Superstore).any()

Order ID         False
Order Date       False
Ship Date        False
Ship Mode        False
Customer ID      False
Customer Name    False
Segment          False
Country          False
City             False
State            False
Postal Code      False
Region           False
Product ID       False
Category         False
Sub-Category     False
Product Name     False
Sales            False
Quantity         False
Discount         False
Profit           False
dtype: bool

In [59]:
#Superstore[Superstore.duplicated()]
Superstore = Superstore.drop_duplicates()

In [60]:
Superstore.dtypes

Order ID          object
Order Date        object
Ship Date         object
Ship Mode         object
Customer ID       object
Customer Name     object
Segment           object
Country           object
City              object
State             object
Postal Code        int64
Region            object
Product ID        object
Category          object
Sub-Category      object
Product Name      object
Sales            float64
Quantity           int64
Discount         float64
Profit           float64
dtype: object

In [61]:
Superstore['Order Date'] = pd.to_datetime(Superstore['Order Date'])

/tmp/ipykernel_227/679261350.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Superstore['Order Date'] = pd.to_datetime(Superstore['Order Date'])

In [62]:
Superstore['Ship Date'] = pd.to_datetime(Superstore['Ship Date'])

/tmp/ipykernel_227/861307886.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Superstore['Ship Date'] = pd.to_datetime(Superstore['Ship Date'])

In [63]:
Superstore.dtypes

Order ID                 object
Order Date       datetime64[ns]
Ship Date        datetime64[ns]
Ship Mode                object
Customer ID              object
Customer Name            object
Segment                  object
Country                  object
City                     object
State                    object
Postal Code               int64
Region                   object
Product ID               object
Category                 object
Sub-Category             object
Product Name             object
Sales                   float64
Quantity                  int64
Discount                float64
Profit                  float64
dtype: object

In [64]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9993 non-null   object
 1   Order Date     9993 non-null   datetime64[ns]
 2   Ship Date      9993 non-null   datetime64[ns]
 3   Ship Mode      9993 non-null   object
 4   Customer ID    9993 non-null   object
 5   Customer Name  9993 non-null   object
 6   Segment        9993 non-null   object
 7   Country        9993 non-null   object
 8   City           9993 non-null   object
 9   State          9993 non-null   object
 10  Postal Code    9993 non-null   int64
 11  Region         9993 non-null   object
 12  Product ID     9993 non-null   object
 13  Category       9993 non-null   object
 14  Sub-Category   9993 non-null   object
 15  Product Name   9993 non-null   object
 16  Sales          9993 non-null   float64
 17  Quantity       9993 non-null   int64
 18  Discount       9993 non-null   float64
 19  Profit         9993 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(13)
memory usage: 1.6+ MB

### Step 2: Exploratory Data Analysis \(EDA\)

In [65]:
# How many customers are in the dataset?

Superstore['Customer ID'].nunique()

794

In [66]:
# How many unique Customer Segments presents are in the Superstore dataset

Superstore ['Segment'].unique()

array(['Consumer', 'Home Office', 'Corporate'], dtype=object)

In [67]:
# How many unique Geographical Regions?

Superstore['Region'].unique()

array(['West', 'South', 'East', 'Central'], dtype=object)

In [68]:
# How many unique Product Categories are in the dataset?

Superstore['Category'].unique()

array(['Technology', 'Office Supplies', 'Furniture'], dtype=object)

In [69]:
# Across how many countries has the data been collected?

Superstore['Country'].unique()

array(['United States'], dtype=object)

In [70]:
# What is the date range (min and max) of Transaction Orders in the dataset?

print(Superstore['Order Date'].min())
print(Superstore['Order Date'].max())

2014-01-03 00:00:00
2017-12-30 00:00:00

In [71]:
# How many transations were performed in each Product Category?

Superstore['Category'].value_counts()

Category
Office Supplies    6026
Furniture          2120
Technology         1847
Name: count, dtype: int64

In [72]:
# What is the total sales for each product category?

total_sales_per_category = Superstore.groupby('Category')['Sales'].sum()
total_sales_per_category

Category
Furniture          741000.89
Office Supplies    718970.77
Technology         835969.58
Name: Sales, dtype: float64

In [73]:
# What is the average sales for each product category?

Average_sales_per_category = Superstore.groupby('Category')['Sales'].mean()
Average_sales_per_category

Category
Furniture          349.528722
Office Supplies    119.311445
Technology         452.609410
Name: Sales, dtype: float64

In [74]:
# What is the total discount in each Product Category

total_discount_per_category = Superstore.groupby('Category')['Discount'].sum()
total_discount_per_category

Category
Furniture          368.29
Office Supplies    946.80
Technology         244.40
Name: Discount, dtype: float64

In [75]:
# What is the total discount by Product Category and Sub-Category?
total_discount_by_category_subcategory = Superstore.groupby(['Category', 'Sub-Category'])['Discount'].sum()
total_discount_by_category_subcategory

Category         Sub-Category
Furniture        Bookcases        48.14
                 Chairs          104.40
                 Furnishings     132.40
                 Tables           83.35
Office Supplies  Appliances       77.60
                 Art              59.60
                 Binders         566.20
                 Envelopes        20.40
                 Fasteners        17.80
                 Labels           25.00
                 Paper           102.60
                 Storage          63.00
                 Supplies         14.60
Technology       Accessories      60.80
                 Copiers          11.00
                 Machines         35.20
                 Phones          137.40
Name: Discount, dtype: float64

In [76]:
# How many transactions were performed from each region?

number_transaction = Superstore.groupby(['Region'])['Order ID'].nunique()
number_transaction

Region
Central    1175
East       1401
South       822
West       1611
Name: Order ID, dtype: int64

In [77]:
Superstore.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,CA-2014-115889,2014-11-02,2014-11-06,Standard Class,SH-20395,Shahid Hopkins,Consumer,United States,San Francisco,California,94122,West,TEC-PH-10001615,Technology,Phones,AT&T CL82213,46.38,2,0.2,5.2182
1,US-2014-102715,2014-04-11,2014-04-13,Second Class,JK-15370,Jay Kimmel,Consumer,United States,Miami,Florida,33180,South,OFF-PA-10000029,Office Supplies,Paper,Xerox 224,10.37,2,0.2,3.6288
2,CA-2015-130974,2015-11-27,2015-11-29,Second Class,MA-17560,Matt Abelman,Home Office,United States,Everett,Massachusetts,2149,East,FUR-FU-10002506,Furniture,Furnishings,"Tensor ""Hersey Kiss"" Styled Floor Lamp",38.97,3,0.0,4.6764
3,CA-2014-102645,2014-01-23,2014-01-28,Standard Class,IM-15055,Ionia McGrath,Consumer,United States,Las Vegas,Nevada,89115,West,OFF-PA-10001804,Office Supplies,Paper,Xerox 195,40.08,6,0.0,19.2384
4,CA-2016-139409,2016-09-05,2016-09-07,First Class,FW-14395,Fred Wasserman,Corporate,United States,New York City,New York,10011,East,TEC-PH-10003988,Technology,Phones,"LF Elite 3D Dazzle Designer Hard Case Cover, L...",43.60,4,0.0,12.2080

In [78]:
Superstore.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9993 entries, 0 to 9998
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Order ID       9993 non-null   object
 1   Order Date     9993 non-null   datetime64[ns]
 2   Ship Date      9993 non-null   datetime64[ns]
 3   Ship Mode      9993 non-null   object
 4   Customer ID    9993 non-null   object
 5   Customer Name  9993 non-null   object
 6   Segment        9993 non-null   object
 7   Country        9993 non-null   object
 8   City           9993 non-null   object
 9   State          9993 non-null   object
 10  Postal Code    9993 non-null   int64
 11  Region         9993 non-null   object
 12  Product ID     9993 non-null   object
 13  Category       9993 non-null   object
 14  Sub-Category   9993 non-null   object
 15  Product Name   9993 non-null   object
 16  Sales          9993 non-null   float64
 17  Quantity       9993 non-null   int64
 18  Discount       9993 non-null   float64
 19  Profit         9993 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(2), object(13)
memory usage: 1.6+ MB

In [79]:
# How many days does it typically take to ship out products counting from the Order Date?

Superstore['Shipdate'] = (Superstore['Ship Date'] - Superstore['Order Date']).dt.days
Superstore.groupby(['Order ID'])['Shipdate'].mean().mean()

/tmp/ipykernel_227/2722963394.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Superstore['Shipdate'] = (Superstore['Ship Date'] - Superstore['Order Date']).dt.days

3.9574765422239966

In [80]:
# What is the average number of days between Order Date and Ship Date by Product Category & sub-category?


Superstore['Shipping Duration'] = (Superstore['Ship Date'] - Superstore['Order Date']).dt.days
avg_shipping_duration = Superstore.groupby(['Category', 'Sub-Category'])['Shipping Duration'].mean().reset_index()
avg_shipping_duration

/tmp/ipykernel_227/587145021.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Superstore['Shipping Duration'] = (Superstore['Ship Date'] - Superstore['Order Date']).dt.days

           Category Sub-Category  Shipping Duration
0         Furniture    Bookcases           3.811404
1         Furniture       Chairs           3.899351
2         Furniture  Furnishings           3.961338
3         Furniture       Tables           3.893417
4   Office Supplies   Appliances           3.989270
5   Office Supplies          Art           4.054020
6   Office Supplies      Binders           4.022324
7   Office Supplies    Envelopes           4.015748
8   Office Supplies    Fasteners           3.976959
9   Office Supplies       Labels           4.002747
10  Office Supplies        Paper           3.887591
11  Office Supplies      Storage           3.975177
12  Office Supplies     Supplies           4.015789
13       Technology  Accessories           3.886452
14       Technology      Copiers           3.617647
15       Technology     Machines           3.747826
16       Technology       Phones           4.001125

In [81]:
# What is the maximum number of days between Order Date and Ship Date by Product Category & sub-category?

max_shipping_duration = Superstore.groupby(['Category', 'Sub-Category'])['Shipping Duration'].max().reset_index()

print(max_shipping_duration)

           Category Sub-Category  Shipping Duration
0         Furniture    Bookcases                  7
1         Furniture       Chairs                  7
2         Furniture  Furnishings                  7
3         Furniture       Tables                  7
4   Office Supplies   Appliances                  7
5   Office Supplies          Art                  7
6   Office Supplies      Binders                  7
7   Office Supplies    Envelopes                  7
8   Office Supplies    Fasteners                  7
9   Office Supplies       Labels                  7
10  Office Supplies        Paper                  7
11  Office Supplies      Storage                  7
12  Office Supplies     Supplies                  7
13       Technology  Accessories                  7
14       Technology      Copiers                  7
15       Technology     Machines                  7
16       Technology       Phones                  7

In [82]:
Superstore.to_csv('clean_superstore.csv')

In [83]:
# What is the most frequently used Ship Mode?

Superstore.groupby(['Ship Mode'])['Order ID'].nunique()

Ship Mode
First Class        787
Same Day           264
Second Class       964
Standard Class    2994
Name: Order ID, dtype: int64

In [84]:
# What is the toal number of transactions by Ship Mode and Product Category??

Superstore.groupby(['Ship Mode', 'Category'])['Order ID'].nunique()

Ship Mode       Category
First Class     Furniture           274
                Office Supplies     588
                Technology          250
Same Day        Furniture            96
                Office Supplies     196
                Technology           79
Second Class    Furniture           354
                Office Supplies     710
                Technology          310
Standard Class  Furniture          1040
                Office Supplies    2248
                Technology          905
Name: Order ID, dtype: int64